/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .wrapper {
    	font-size: 0.6em;
    }
    .figcaption{
    	font-size:0.5em;
    }

    .text{
    	font-size:0.2em;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .wrapper {
    	font-size: 0.8em;}
    .figcaption{
    	font-size:0.5em;
    }
 	.text{
 		font-size: 0.3em;
 	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768) {
	.wrapper{
		font-size: 2em;
	}
	.figcaption{
		font-size: 2em;
	}
}

